.contact-container {	
	text-align: center;

}

.contact-text {	
	display: inline-block;
	background: #eee;
	padding: 35px 25px;	
	text-align: left;
	border-radius: 4px;
}

.contact-text a {
	border-bottom: 1px solid #fa0;		
}

@media (max-width: 700px) {
	.contact-text {
		display: block;
	}
}