.projects-article {
	background: #eee;
	padding: 35px 25px;
	border-radius: 2px;
	margin-bottom: 2px;
}

.projects-h2 {
	margin-bottom: 4px;
}

.projects-article h3 {
	margin: 0 0 26px;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em;
}

.projects-article p {
	margin-bottom: 40px;
}

.projects-article a {
	border-bottom: 2px solid #fa0;
}

a.projects-image-link {
	border: 0;
}