.accordion {		
	width: 100%;
	height: 460px;		
	background-color: #fff;		
	overflow: auto;					
}

.accordion article {
	position: relative;
	display: block;
	float: left;
	width: 6.0344827586206896551724137931034%;
	height: 100%;
	margin-left: 0.17241379310344827586206896551724%;								
	overflow: hidden;		
	border-radius: 0 10px 10px 0;
	transition: all 0.8s ease;
	background: url('./images/arrow.png') no-repeat bottom 7px right 7px #eee;		
}

.accordion article:first-child {
	margin-left: 0;
}

.accordion .image-container {
	margin: 35px 25px;
}

.accordion .acc-open .image-container {
	overflow: hidden;
}

.accordion h3 {
	font-size: 1.1em;
	font-weight: normal;
	margin: 0 0 15px 0;
}

.accordion h2,
.accordion h3,
.accordion p {
	display: none;
	padding: 0 25px;
	width: 630px;
}

.accordion .acc {		
	cursor: pointer;		
}

.accordion .acc p a {		
	border-bottom: 1px solid #fa0;		
}

.accordion .acc-open {
	cursor: default;						
	border-radius: 0;
	background-image: none;
	width: 68.965517241379310344827586206897%;
}

.accordion .acc-open h2,
.accordion .acc-open h3,
.accordion .acc-open p {
	display: block;			
}

@media (max-width: 1060px) {
	.accordion h2,
	.accordion h3,
	.accordion p {
		width: 520px;
	}
}

@media (max-width: 850px) {
	.accordion {
		height: auto;
	}
	
	.accordion article {
		width: 100%;
		height: auto;		
		float: none;
		margin-left: 0;
		margin-bottom: 2px;
		cursor: default;	  
		background-image: none;
		border-radius: 0 0 10px 10px;	  
	}
	
	.accordion .acc-open {
		width: 100%;
		cursor: default;
		border-radius: 0 0 10px 10px;			  
	}
	
	.accordion h2,
	.accordion h3,
	.accordion p {
		display: block;
		width: auto;
	}
	
	.accordion p:last-child {
		margin-bottom: 30px
	}

	.accordion .image-container {
		overflow: hidden;
	}
}
