.info-container {	   
	display: table;
	width: 100%;
	background: #eee;
	border-radius: 16px;
}
 
.info-text {
	display: table-cell;
	vertical-align: middle;
	padding: 32px 16px;
	border-radius: 2px;
}

.last {
	margin-bottom: 0;
}

.info-img {
	border: 4px solid #ddd;
	border-radius: 125px;
}

@media screen and (max-width: 800px) {
	.info-text {
		display: block;
	}

	.info-img-container {
		text-align: center;
		padding-top: 0;
	}
}