.page-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.page-logo-image {
	font-size: 2.2em;
	width: 50%;
	height: 475px;
	position: relative;
}

.page-logo-image ul {
	padding: 0;
	margin: 0;
}

.page-logo-image li {
	list-style-type: none;
}

.page-logo-link {
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.page-logo-purple {
	position: absolute;
	background: url('./images/CirclePurple.svg') no-repeat;
	width: 47%;
	height: 51%;
	transition: ease-out 0.3s;
}		

.page-logo-grey {
    position: absolute;
    top: 4%;
  	left: 49%;
  	background: url('./images/CircleGrey.svg') no-repeat;
	width: 45%;
	height: 55%;
	transition: ease-out 0.3s;
}

.page-logo-light-grey {
    position: absolute;
    top: 49%;
  	left: 23%;
  	background: url('./images/CircleLightGrey.svg') no-repeat;
	width: 41%;
	height: 47%;
	transition: ease-out 0.3s;
	color: #666;
}

.page-logo-yellow {
    position: absolute;
    top: 60%;
  	left: 66%;
  	background: url('./images/CircleYellow.svg') no-repeat;
	width: 24%;
	height: 25%;
	font-size: 2.5rem;
}			

.page-logo-purple,	
.page-logo-grey,
.page-logo-light-grey,
.page-logo-yellow {
	transition: linear 0.3s;
	background-size: contain;
}

.page-logo-purple {
	background-position: bottom right;
}

.page-logo-purple:hover {
	transform: scale(1.07) translate(-10px, -10px);
}

.page-logo-grey {
	background-position: bottom left;
}

.page-logo-grey:hover {
	transform: scale(1.07) translate(10px, -10px);
}

.page-logo-light-grey {
	background-position: top right;
}

.page-logo-light-grey:hover {
	transform: scale(1.07) translate(-10px, 10px);
}

.page-logo-yellow {
	background-position: top left;
}

.page-logo-yellow:hover {
	transform: scale(1.07) translate(10px, 10px);
}

.page-logo-text-1, .page-logo-text-2 {
	color: #666;
	margin: 0;
}

.page-logo-text-1 {
	font-size: 5rem;
	line-height: 5.5rem;
}

.page-logo-text-2 {
	font-size: 3rem;
	padding: 0.125rem;
	line-height: 3rem;
}

@media (max-width: 1060px) {
	.page-logo {
		flex-direction: column;
		align-items: start;
		padding: 1rem;
		height: auto;
	}

	.page-logo-image {
		width: 70%;
	}

	.page-logo-text {
		align-self: end;
		text-align: right;
	}
}

@media (max-width: 700px) {
	.page-logo-image {
		width: 100%;
	}

	.page-logo-text-1 {
		font-size: 4rem;
		line-height: 4rem;
	}

	.page-logo-text-2 {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}