.page-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.page-logo-image {
	font-size: 2.2em;
	width: 50%;
	height: 475px;
	position: relative;
}

.page-logo-image ul {
	padding: 0;
	margin: 0;
}

.page-logo-image li {
	list-style-type: none;
}

.page-logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.page-logo-purple {
	position: absolute;
	top: 0;
	left: 0;
	background: url('./images/CirclePurple.svg') no-repeat;
	width: 250px;
	height: 244px;
	transition: ease-out 0.3s;
}		

.page-logo-grey {
    position: absolute;
    top: 21px;
  	left: 259px;
  	background: url('./images/CircleGrey.svg') no-repeat;
	width: 240px;
	height: 261px;
	transition: ease-out 0.3s;
}

.page-logo-light-grey {
    position: absolute;
    top: 235px;
  	left: 123px;
  	background: url('./images/CircleLightGrey.svg') no-repeat;
	width: 217px;	
	height: 221px;
	transition: ease-out 0.3s;
	color: #666;
}

.page-logo-yellow {
    position: absolute;
    top: 286px;
  	left: 346px;
  	background: url('./images/CircleYellow.svg') no-repeat;
	width: 125px;
	height: 117px;
	font-size: 0.73em;
}			

.page-logo-purple,	
.page-logo-grey,
.page-logo-light-grey,
.page-logo-yellow {
	transition: linear 0.3s;
	background-size: 100%;	
}	

.page-logo-purple:hover {						
	transform: scale(1.07) translate(-10px, -10px);				
}

.page-logo-grey:hover {						
	transform: scale(1.07) translate(10px, -10px);		
}

.page-logo-light-grey:hover {						
	transform: scale(1.07) translate(-10px, 10px);		
}

.page-logo-yellow:hover {						
	transform: scale(1.07) translate(10px, 10px);		
}

@media (max-width: 1060px) {
	.page-logo {
		flex-direction: column;
		margin: 0;
		text-align: center;
	}

	.page-logo-image {
		width: 70%;
	}
}