.service-container {
    display: table;
	width: 100%;
}		

.service-text {
	display: table-cell;		
	background: #eee;	    
    padding: 35px 25px;
    border-radius: 0 10px 10px 0;	
}

.service-small {
	width: 30%;	
	border-right: 2px solid #fff;
}

.service-large {
	width: 70%;
}
	
.service-text ul {
	margin: 0;
	list-style-type: lower-roman;
}

.service-text li {
	padding: 3px 0;
}