.nav {
	padding: 0;
	margin: 0;
	list-style-type: none;	
}

.nav li {
	float: left;
	padding: 51px 0;
	min-width: 140px;
  	text-align: center;
  	font-size: 1.2em;
}

.nav a:hover {
	border-bottom: 1px solid #fa0;		
}

.nav-active {		
	background: url('./images/active.png') no-repeat center;
}

.nav-container {	
	float: right;	
}