.nav-container {
	float: right;	
}

.nav-container a {
	float: left;
	padding: 51px 0;
	min-width: 140px;
  	text-align: center;
  	font-size: 1.2em;
}

.nav-container span:hover {
	border-bottom: 1px solid #fa0;		
}

.nav-container .active {		
	background: url('./images/active.png') no-repeat center;
}

.nav-container .active span {
	border-bottom: 1px solid #fa0;
}

@media (max-width: 1060px) {
	.nav-container {
		margin-right: 10px;
	}
}

@media (max-width: 850px) {
	.nav-container {
		float: none;
	}
	
	.nav-container a {
		display: block;
		float: none;
		padding: 10px;
	}
}