* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Pompiere, sans-serif;
	color: #666;
	background-color: #fff;
  	font-size: 24px;		  				  	  
}

h1, h2 {
	font-weight: normal;
	color: #fa0;
}

h2 {
	font-size: 1.4em;		
	margin: 0 0 18px 0;
}

a {
	color: #666;
	text-decoration: none;		
}

p {	
	color: #666;
	margin: 0 0 15px 0;
}

p, li {
    font-size: 1.1em;
}

.head {
	margin-top: 20px;
	margin-bottom: 40px;
	overflow: hidden;
}
	
.clear {
	clear: both;
}

.align-right {
	text-align: right;
}

.page-container {
	width: 1060px;
	margin: 0 auto;
}

@media (max-width: 1060px) {
	.page-container {
		width: 100%;
		padding: 0.125rem;
	}
}

@media (max-width: 850px) {
	.head {
		margin-bottom: 20px;
	}
}