.language-container {
    display: flex;
    justify-content: right;
    margin-top: 8px;
}

.language-container img {
    padding: 8px;
}

.language-container .active {		
	background: url('./images/active.svg') no-repeat top;
}